@import "include/vars"
@import "include/fix"
@import "include/mixins"
@import "include/gradients"
@import "include/code"
@import "include/jqtabs.css"


p.intro
    clear both
    padding-top 12px


#nav
    border-bottom 1px solid lightgray