@import "include/vars"
@import "include/fix"
@import "include/mixins"
@import "include/icons"

h1
    color black
    font-size 36px
    line-height 64px
    padding 24px 0

#sections
    clearfix()
    margin-top 12px
    width 984px

.sect
    padding 12px 16px 0
    float left
    height 1212px
    radius(12px)
    boxshadow(0, 1px, 3px, #666);
    background-color clear
    width 285px

    header
        color darkPetrol
        font-size 16px
        line-height 24px
        padding 12px 0
        clearfix()

    .icon
        icon()

    h2
        width 120px
        margin 0 auto
        border 0
        text-shadow -1px 0px 1px almostwhite;

    ol.cat
        h3
            margin-top 12px
            display inline-block

    &.one
        .icon
            uiicon()

    &.two
        margin 0 12px
        .icon
            formsicon()
    &.three
        .icon
            toolboxicon()

ol.cat
    list-style-position inside
    color petrol
    line-height 24px

ol.links
    list-style-type none
    font-size 12px
    line-height 18px
    a
       color textgray
       text-decoration none

       &:hover
           color darkPetrol
