@import "include/vars"
@import "include/fix"
@import "include/mixins"
@import "include/gradients"
@import "include/code"
@import "include/jqtabs.css"


p.intro
    clear both
    padding-top 12px


#nav
    border-bottom 1px solid lightgray

nav
    margin-top  184px
    li
        margin-left 0
        a
            margin-left 0
            display inline-block

    ol.cat
        display none

        &.active
            display block

    div.sect
        div.icon
            smallicon()
            float left

        header
            cursor pointer
            padding-top 6px
            color petrol
            h2

                color inherit


        h2
            float left
            width 219px
            margin 0
            font-size 14px
            border 0
            letter-spacing 0
            margin-top -4px

        h3
            margin-top 12px
            margin-left 6px

        &.one
            div.icon
                smallplayericon()

        &.two
            div.icon
                smallflashicon()
        &.three
            div.icon
                smalljsicon()