@import "include/vars"
@import "include/fix"
@import "include/mixins"
@import "include/icons"
@import "include/code"
@import "include/sidebar"

.blurb
    clearfix()

.col
    width 48%
    float left
    margin 0 1%

    h3
        font-size 14px
        margin 16px 0

    p
        font-size 12px

        &.more
            font-size 14px
            color textgray
            margin-bottom 16px


    &.last
        margin 0
        float right

    img
        float left
        margin 10px 8px