===
index: 3
title: Exposing a form
===
{% extends 'demo.j2' %}
{% refer to 'demos/toolbox/expose/form.htm' as standalone %}

{% block extra_css %}
{{ standalone.css }}
{% endblock %}

{% block demo %}
<div class="blurb">

<h1 class="teaser title">{{ resource.meta.title }}</h1>
<p>
  This is a great user interface technique to highlight important
  parts of the page while the user is doing something. Start using the
  following form and you can see the exposing effect.
</p>

<div class="box full">
{{standalone.body}}
</div>
<a class="standalone" href="form.htm">standalone demo</a>

<p>
  Again, the exposing disappears when you click somewhere outside the
  form or press the ESC button. I personally haven't seen this kind of
  technique anywhere else before. So, I guess I'll get the credit for
  this and from now on this has to be called "exposing a form".
</p>
</div>

<h3>CSS code</h3>

<p>
  This time we use a PNG image as the mask's background. It allows us
  to change the background color and everything still works. Here we
  use the color <samp>#678</samp> and the background is positioned so
  that the form will be centered inside the white "halo".
</p>

{% filter syntax('css') %}
{{ standalone.css_excerpt }}
{% endfilter %}

<h3>HTML code</h3>

<p>
  We use a normal form with labels and input fields. The tableless
  layout and visualization is done purely with CSS as you can see from
  the <a href="form.htm">standalone page</a>'s source code.
</p>

{% filter syntax('html') %}
{{ standalone.html_excerpt }}
{% endfilter %}

<h3>JavaScript code</h3>

<p>
  Here we expose our form when it is clicked. We use a customized
  background color for the "mask" and you can see two callback
  functions in action. Those functions change the background color of
  the form.
</p>

{% filter syntax('js') %}
{{ standalone.js }}
{% endfilter %}

{% endblock %}