{% extends 'standalone.j2' %}

{% block head %}{% mark css %}
<!-- styling of an exposed element -->
<style>
{% mark css_excerpt %}
#exposeMask {
	background:#678 url({{ media_url('img/mask/mask_gradient_1000.png') }}) no-repeat;
	background-position: 13% 160px;
}
{% endmark %}

form.expose {
	border:1px outset #ccc;
	background:#fff url({{ media_url('img/gradient/h150.png') }}) repeat-x;
	padding:20px;
	margin:20px auto;
	text-align:center;
	width:350px;
	-moz-border-radius:4px;
}

/* http://www.quirksmode.org/css/forms.html */
label, input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

label {
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

br {
	clear: left;
}
</style>
{% endmark %}{% endblock %}

{% block body %}{% mark body %}
{% mark html_excerpt %}
<form class="expose">
	<label for="username">Username</label>
	<input id="username" /><br/>

	<label for="password">Password</label>
	<input id="password" type="password" /><br/>

</form>
{% endmark %}

<!-- javascript coding -->
<script>
{% mark js %}
// execute your scripts when the DOM is ready. this is a good habit
$(function() {

	// expose the form when it's clicked or cursor is focused
	var form = $(".expose").bind("click keydown", function() {

		$(this).expose({

			// when exposing is done, change form's background color
			onLoad: function() {
				form.css({backgroundColor: '#c7f8ff'});
			},

			// when "unexposed", return to original background color
			onClose: function() {
				form.css({backgroundColor: null});
			}

		});
	});
});
{% endmark %}
</script>
{% endmark %}{% endblock %}
