{% extends "root.j2" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ media_url('css/tooltip-generic.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ media_url('css/download.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ media_url('css/syntax.css') }}"/>
{% endblock %}

{% block extra_script %}
<script>
$(function() {

  // global navi
  $("#jqt2").addClass("active");

  var els = $(".listing :checkbox, .listing :radio").attr("checked", false);

  // tooltips
  $(".listing img").tooltip({ position: 'right top', offset: [60, 10], delay: 50 });

  var INFO;
  $.ajax({
    url: 'http://builder.jquerytools.org/info',
    dataType: 'jsonp',
    success: function (info) {
      INFO = info;
      $('input[name="build"]').change();
    }
  });

  // returns a string representing the size in kb
  var bytes_to_kb = function (bytes) {
    return (Math.round(bytes / 102.4) / 10) + ' Kb';
  };

  // checkbox change
  els.change(function() {

    // count size
    var size = 0,
       count = 0,
       tools = "";


    var version_info;
    $('input[name="build"]').each(function () {
      var tr = $(this).parents('tr');
      if (this.checked) {
        tr.addClass('selected');
        if (INFO) {
          version_info = INFO[this.value];
        }
      }
      else {
        tr.removeClass('selected');
      }
    });

    if (version_info) {
      $('#jquery_version').text(version_info.jquery.version);
      $('#jquery_size').text(bytes_to_kb(version_info.jquery.size));
      $('.listing :checkbox').each(function () {
        if (this.name !== 'include_jquery') {
          var size = version_info.sizes[decodeURIComponent(this.name)];
          var el = $('.size', $(this).parent().parent().parent());
          el.text(size ? bytes_to_kb(size): '');
          this.value = size;
        }
      });
    }

    els.filter(":checked").each(function() {
      if (this.name === 'include_jquery') {
        tools += "&include_jquery=true";
        if (version_info) {
          size += version_info.jquery.size;
        }
      }
      else if (this.name !== 'build') {
        // 170 bytes for stripping down comment size
        size += parseFloat($(this).val()) - 170;
        count++;
        tools += "&t=" + this.name;
      }
    });

    // user information
    $("#selected").html('(' +count+ ' of ' + els.size() + ' selected)');
    $("#minified").html(bytes_to_kb(size));
    $("#gzipped") .html(bytes_to_kb(size * 0.322) + ' <em>gzipped</em>');

    // build choice
    var build = $('input[name="build"]').filter(':checked').val() || 'v{{ jqt.v }}';

    // download link
    $("#downloadLink").attr(
      "href",
      "http://builder.jquerytools.org/" + build + "/jquery.tools.min.js?" + tools
    );
    $("#tokens").html(tools);


    // highlight row
    var tr = $(this).parents("tr"), checked = this.checked;

    if (checked) {
      tr.addClass("selected");
    } else {
      tr.removeClass("selected");
    }

    // show/hide plugins
    if (!tr.is(".plugin")) {
      tr.nextAll().each(function()  {
        if ($(this).is(".plugin"))  {
          if (checked) {
            $(this).fadeIn();
          } else {
            $(this).hide().removeClass("selected").find(":checkbox").attr("checked", false);
          }

        } else  {
          return false;
        }
      });
    }

  });

  // default selection
  $("#t_tabs, #t_tooltip, #t_scrollable, #t_overlay").each(function() {
    $(this).find(":checkbox").click().triggerHandler("change");
  });
  $("#build_stable").click().triggerHandler("change");
});
</script>
{% endblock %}

{% block main %}
<h1 id="hero">
  <span></span>
  Download
  <em>Version <strong>{{ jqt.v }}</strong></em>
</h1>

<h2 class="first">Quick start</h2>

<p>
  Insert the following line on your HTML page and you are done!
</p>

{% filter syntax('html') %}
<script src="{{ jqt.js }}"></script>
{% endfilter %}

<p>
  This is the official <strong>jQuery Tools UI library</strong> and
  after the inclusion you will have the following tools available:
</p>

<ol>
  <li><a href="http://jquery.com" class="external">jQuery {{jquery.v}}</a></li>
  {% for tool in jqt.tools %}
  {% if tool.children|length > 0 %}
  <li><a href="{{tool.link}}">{{tool.title}}</a></li>
  {% endif %}
  {% endfor %}
</ol>

<p>
  The tools will be loaded
  with <a href="{{ content_url('documentation/performance.html') }}">maximum
  performance</a> no matter where your user is located on the
  globe. Without the jQuery library, the file size is
  only <strong>{{jqt.size}} Kb</strong> when gzipping is enabled on
  the server-side. If you already have jQuery included on your page,
  you can simply remove it and use only the above <samp>script
  src</samp> statement.
</p>

<p style="margin-bottom:40px">
  Please note that this global content delivery network
  is <strong>completely free</strong>. You can use it freely in any
  website including production environments. This network has been
  kindly offered for all jQuery Tools users
  by <a href="http://www.maxcdn.com/" class="external">Max
  CDN</a>. Respect to them!
</p>


<a name="combine"></a>
<h2 class="first">Build a custom set of Tools. <em id="selected"></em></h2>
<h3 style="color:#7788FF;margin:5px 0 15px 0;">Or download the source code</h3>

<p>
  Here you can download individual tools or create a custom
  combination of tools by selecting only those you want. Both
  the <strong>source code</strong> and the <strong>minified
  versions</strong> are available.
</p>

<div class="blurb">
<h3>Version</h3>
<div class="table">
  <table class="listing">
    <tr>
      <td>
        <label>
          <input type="radio" checked="checked" value="v{{ jqt.v }}" name="build" id="build_stable" />
          {{ jqt.v }} stable
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label>
          <input type="radio" value="dev" name="build" id="build_dev" />
          {{ jqt.dev.v }}
        </label>
      </td>
    </tr>
  </table>
</div>

<h3>Include jQuery</h3>
<div class="table">
  <table class="listing">
    <tr id="t_jquery" >
        <td>
          <label>
            <input type="checkbox" name="include_jquery" value="72174" /> jQuery
            <span id="jquery_version"></span>
          </label>
        </td>
        <td><small></small></td>
        <td class="size" id="jquery_size"></td>
        <td style="text-align:right;padding-right:5px">
          <img src="/media/img/global/info_small.png" />
          <div class="tooltip">
            <h3>jQuery 1.7.2</h3>
            <p>All tools depend on this library (except flashembed). Can alternatively be included from googleapis (see below)</p>
          </div>
        </td>
    </tr>
  </table>
</div>

{% macro render_tool_row(tool, is_plugin) %}
{% set base =  'download/dist/v'~jqt.v~'/'~tool.file %}
{% set src, min = (base~'.js', base~'.min.js') %}
{% set min_size = site.content.resource_from_relative_path(min).source.size|default(0)|float %}
{% set source_size = site.content.resource_from_relative_path(src).source.size|default(0)|float %}


  <tr id="t_{{ tool.key }}" {% if is_plugin %}class="plugin"{% endif %}>
    <td>
     <label>
       <input type="checkbox" name="{{ tool.file }}.js" value="{{ min_size }}" /> {{ tool.name }}
     </label>
    </td>
    <td><small>{{ tool.requires }}</small></td>
    <td class="size">{{ source_size }}</td>

    <td style="text-align:right;padding-right:5px">
      <img src="{{ media_url('img/global/info_small.png') }}" />
      <div class="tooltip">
       <h3>{{ tool.name }}</h3>
       <p>{{ tool.description }}</p>
       <p> <a href="{{ content_url('documentation/'~tool.link) }}">documentation</a></p>
      </div>
    </td>
  </tr>
{% endmacro %}

{% for cat in tools.categories %}
<h3>{{ cat.category }}</h3>
<div class="table">
<table class="listing">
{% for tool in cat.tools %}
{{ render_tool_row(tool, False) }}
{% for plugin in tool.plugins %}
{{ render_tool_row(plugin, True) }}
{% endfor %}
{% endfor %}
</table>
</div>
{% endfor %}

<div class="footer">
  <a href="#" id="downloadLink">
    <img src="{{ media_url('img/global/commerce/download.png') }}"
         alt="Download jQuery Tools" />
  </a>

  <h3>
    <em>Size</em>: <span id="minified"></span> / <span id="gzipped"></span>
  </h3>
</div>
</div>
<a name="cdn"></a>
<h2>jQuery Tools from CDN</h2>

<p>
  Here is a list of all available jQuery Tools combinations from
  a <strong>free</strong> Content Delivery Network.
</p>

{% filter syntax('html') %}
<!-- UI Tools: Tabs, Tooltip, Scrollable and Overlay ({{ jqt.size }} Kb) -->
<script src="http://cdn.jquerytools.org/{{ jqt.v }}/tiny/jquery.tools.min.js"></script>

<!-- Form tools: Dateinput, Rangeinput and Validator. No jQuery library. ({{ jqt.form.size }} Kb) -->
<script src="http://cdn.jquerytools.org/{{ jqt.v }}/form/jquery.tools.min.js"></script>

<!-- ALL jQuery Tools. No jQuery library -->
<script src="http://cdn.jquerytools.org/{{ jqt.v }}/all/jquery.tools.min.js"></script>

<!-- jQuery Library + UI Tools -->
<script src="http://cdn.jquerytools.org/{{ jqt.v }}/jquery.tools.min.js"></script>

<!-- jQuery Library + ALL jQuery Tools -->
<script src="http://cdn.jquerytools.org/{{ jqt.v }}/full/jquery.tools.min.js"></script>
{% endfilter %}

<p>
  If you prefer to load the jQuery library separately the recommended
  practice is to load jQuery from Google's CDN service. Make sure the
  jQuery library is always loaded <em>before</em> the jQuery Tools
  library.
</p>

{% filter syntax('html') %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
{% endfilter %}

{% endblock %}
