{% extends 'standalone.j2' %}

{% block head %}{% mark css %}
<style>
  {% mark css_excerpt %}
  /* trigger button */
  #download_now {
    background:transparent url({{ media_url('img/downloadnow.png') }}) no-repeat scroll 0 0;
    display:block;
    height:44px;
    margin: 0 auto;
    margin-bottom:30px;
    overflow:hidden;
    text-indent:-999em;
    width:159px;
    cursor:pointer;
  }

  /* mouseover state */
  #download_now:hover {
    background-position:0 -44px;
  }

  /* clicked state */
  #download_now:focus {
    background-position:0 -88px;
  }

  /* tooltip styling */
  .tooltip {
    display:none;
    background:url({{ media_url('img/tooltip/black_arrow_big.png') }});
    height:163px;
    padding:40px 30px 10px 30px;
    width:310px;
    font-size:11px;
    color:#fff;
  }

  /* a .label element inside tooltip */
  .tooltip .label {
    color:yellow;
    width:35px;
  }

  .tooltip a {
    color:#ad4;
    font-size:11px;
    font-weight:bold;
  }
  {% endmark %}
</style>
{% endmark %}{% endblock %}

{% block body %}
<div style="height:200px"></div>
{% mark body %}
{% mark html_excerpt %}
<!-- trigger element. a regular workable link -->
<a id="download_now">Download now</a>

<!-- tooltip element -->
<div class="tooltip">

  <img src="{{ media_url('img/title/eye.png') }}" alt="Flying screens"
       style="float:left; margin:0 15px 20px 0" />

  <table style="margin:0">
    <tr>
      <td class="label">File</td>
      <td>flowplayer-{{ flowplayer.v }}.zip</td>
    </tr>
    <tr>
      <td class="label">Version</td>
      <td>{{ flowplayer.date }}</td>
    </tr>
    <tr>
      <td class="label">Size</td>
      <td>112 kB</td>
    </tr>
    <tr>
      <td class="label">OS</td>
      <td>all</td>
    </tr>
  </table>

  <a href="{{ content_url('release-notes') }}">What's new in 3.2</a>
</div>
{% endmark %}

<script>
  $(document).ready(function() {
  {% mark js %}
    $("#download_now").tooltip({ effect: 'slide'});
  {% endmark %}
  });
</script>

{% endmark %}{% endblock %}
