{% extends 'demos/tooltip/index.htm' %}

{% block head %}{% mark css %}
{{ super() }}

<style>
{% mark css_bottom %}
/* override the arrow image of the tooltip */
.tooltip.bottom {
  background:url({{ media_url('img/tooltip/black_arrow_bottom.png') }});
  padding-top:40px;
  height:55px;
}

.tooltip.bottom {
  background:url({{ media_url('img/tooltip/black_arrow_bottom.png') }});
}
{% endmark %}
</style>

<!--[if lt IE 7]>
<style>
.tooltip {
  background-image:url({{ media_url('img/tooltip/black_arrow.gif') }});
}

.tooltip.bottom {
  background:url({{ media_url('img/tooltip/black_arrow_bottom.gif') }});
}
</style>
<![endif]-->
{% endmark %}{% endblock %}

{% block body %}{% mark body %}
<div id="dyna">
  <img src="{{ media_url('img/photos/1.jpg') }}" style="margin-left:4px"
       title="A must have tool for designing better layouts and more intuitive user-interfaces."/>
  <img src="{{ media_url('img/photos/2.jpg') }}"
       title="Tooltips can be positioned anywhere relative to the trigger element."/>
  <img src="{{ media_url('img/photos/3.jpg') }}"
       title="Tooltips can contain any HTML such as links, images, forms, tables, etc."/>
  <img src="{{ media_url('img/photos/4.jpg') }}" style="margin-right:0px"
       title="There are many built-in show/hide effects and you can also make your own."/>
</div>

<script>
$(function() {
{% mark js %}
// initialize tooltip
$("#dyna img[title]").tooltip({

   // tweak the position
   offset: [10, 2],

   // use the "slide" effect
   effect: 'slide'

// add dynamic plugin with optional configuration for bottom edge
}).dynamic({ bottom: { direction: 'down', bounce: true } });
{% endmark %}
});
</script>
{% endmark %}{% endblock %}
