{% extends 'standalone.j2' %}

{% block head %}{% mark css %}
<style>
  {% mark css_excerpt %}
.tooltip {
    display:none;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    font-size:13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
}
{% endmark %}

/* style the trigger elements */
#triggers img {
    border:0;
    cursor:pointer;
    margin-left:11px;
}
</style>
{% endmark %}{% endblock %}

{% block body %}{% mark body %}
<!-- the tooltip -->
<span class="tooltip">&nbsp;</span>

<!-- a couple of trigger elements -->
<div id="triggers">
  <img src="{{ media_url('img/photos/1.jpg') }}"
       title="This is browser's default tooltip."/>

  <img src="{{ media_url('img/photos/2.jpg') }}"
       title="Another default tooltip. It comes with a slight delay"/>

  <img src="{{ media_url('img/photos/3.jpg') }}"
       title="This is jQuery.Tools tooltip. Look/feel is almost similar."/>

  <img src="{{ media_url('img/photos/4.jpg') }}"
       title="You can customize every aspect of this tip"/>
</div>

<script>
  $(document).ready(function() {
  {% mark js %}
      $("img[title]:gt(1)").tooltip({
          // use div.tooltip as our tooltip
          tip: '.tooltip',

          // use the fade effect instead of the default
          effect: 'fade',

          // make fadeOutSpeed similar to the browser's default
          fadeOutSpeed: 100,

          // the time before the tooltip is shown
          predelay: 400,

          // tweak the position
          position: "bottom right",
          offset: [-50, -80]
      });
  {% endmark %}
});
</script>
{% endmark %}{% endblock %}

