===
index: 1
title: Basics of Flash embedding
===
{% extends 'demo.j2' %}
{% refer to 'demos/toolbox/flashembed/index1.htm' as flash1 %}
{% refer to 'demos/toolbox/flashembed/index2.htm' as flash2 %}
{% refer to 'demos/toolbox/flashembed/index3.htm' as flash3 %}

{% block extra_css %}
{{ flash1.css }}
{{ flash2.css }}
{{ flash3.css }}
{% endblock %}

{% block demo %}
<div class="blurb">

<h1 class="teaser title">{{ resource.meta.title }}</h1>

<h2>Minimal Flash embedding setup</h2>

<p>
  Here you have a simple Flash object. Below the object you can see
  how it is placed on the page:
</p>

{{ demo(flash1) }}

</div>

<h3>HTML setup</h3>

<p>
  First you need to include the Flashembed script on your page:
</p>

{% filter syntax('html') %}
<script type="text/javascript" src="toolbox.flashembed.min.js"></script>
{% endfilter %}

<p>
  It is recommended that you use the minified (.min) version to reduce
  the download size. You can get the
  script <a href="{{ content_url('download/') }}">here</a>. Second, you have to have
  a HTML container for the object; we are using a <samp>DIV</samp>
  element in our example. We use an <samp>id</samp> attribute to
  reference this container later in the embedding.
</p>

{% filter syntax('html') %}
<div id="clock"></div>
{% endfilter %}


<h3>JavaScript setup</h3>

<p>
  Next, we place a Flash object inside the container. This happens
  with this simple flashembed call:
</p>

{% filter syntax('js') %}
flashembed("clock", "{{ media_url('swf/global/clock.swf') }}");
{% endfilter %}

<p>
  The call must be placed <strong>after</strong> the DIV element or
  you must place it inside the <samp>$(document).ready()</samp> block
  with jQuery. That is really all you need.
</p>

<h3>CSS code</h3>

<p>
  By default, the Flash object is placed <strong>inside</strong> the
  player container so that its width and height properties are set
  to <samp>100%</samp>. This means that you can control the dimensions
  of the Flash object by setting the dimensions of the container. In
  this minimal setup we have following CSS settings:
</p>

{% filter syntax('css') %}
#clock {
  width: 250px;
  height: 250px;
}
{% endfilter %}


<h2>Configuring Flash objects</h2>

<p>
  Here we have another Flash object and this time we pass parameters
  (or configuration) to it. Here is our flashembed call:
</p>

{% filter syntax('js') %}
flashembed("info", "{{ media_url('swf/global/flashvars.swf') }}", {

  // these properties are given for the Flash object
  name1: 'configuration value #1',
  name2: 'configuration value #2',
  name3: 'Hello World! I am changing',
});
{% endfilter %}

<p>
  Here is the result. The passed parameters are seen:
</p>


{{ demo(flash2, full=False) }}

<h2>Configuring Flash with JSON</h2>

<p>
  Flashembed has the unique feature of configuring your Flash objects
  with JSON. This gives you the ability to supply complex
  configurations directly upon embedding. JSON is a JavaScript-based
  syntax and is much more flexible and simpler than XML which has
  historically been used in Flash configuration.
</p>

<p>
  Flowplayer is one example of a Flash application that accepts
  JSON-based configurations. Here is our flashembed call:
</p>

{% filter syntax('js') %}
flashembed("player", "{{ flowplayer.swf }}", {

  // "config" parameter is a complex JSON object, not just a simple value
  config: {
    clip:  {
      autoPlay: false,
      autoBuffering: true,
      url: 'http://e1h13.simplecdn.net/flowplayer/flowplayer.flv'
    }
  }
});
{% endfilter %}

<p>
  And here is the result:
</p>

{{ demo(flash3, full=False) }}

<p>
  If you are developing a Flash object and want to configure it with
  JSON, you can find JSON parsers for Flash
  from <a href="http://code.google.com/p/as3corelib/"
  class="external">as3corelib</a>.
</p>

{% endblock %}