<a name="graphics"></a>
<h2 style="text-transform:capitalize">{{resource.meta.group}} Graphics</h2>
{% set img = resource.meta.img|default(resource.meta.group ) %}
<a href="{{ media_url('img') }}/{{img}}/{{img}}.zip">
  <img src="{{media_url('img/global/zip.gif') }}"
       alt="Download graphics pack" style="float:right" />
</a>

<p>
  You can use our graphics as the basis for your design. You can
  freely change the design as you see fit. Click the image on the
  right to download a zip file.  Before using the graphics, you should
  consult the
  <a href="{{ content_url('documentation/basics.html') }}#graphics">User's
  Guide</a> on how graphics can be used when designing the look and
  feel of the tools.
</p>


<p>
  Here are a few examples of what is included in the zip file:
</p>

<br clear="all" />
