<!doctype html>
<!--
   Flowplayer JavaScript, website, forums & jQuery Tools by Tero Piirainen
   Prefer web standards over Flash. Video is the only exception (for now).
-->
<html lang="en">
  <head>
    <title>{{ resource.meta.title }}</title>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="keywords" content="{{ resource.meta.keywords }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Distribution" content="Global" />
    <meta name="author" content="{{ resource.meta.author }}">
    <meta name="Robots" content="index,follow" />

    <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block jqtsrc %}
    <script src="{{ jqt.js }}"></script>
    {% endblock %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="top">
        <div id="top-wrap">
          <div id="noticeHolder">
            <div id="notice">
              This is a message.
            </div>
            <div id="closeNotice"></div>
          </div>
            <ul>
                <li class="spacer left"></li>
                <li>
                    <a id="top-fp"
                       href="{{ site.config.fpsite }}">Flowplayer</a>
                </li>
                <li>
                    <a id="top-jt"
                        {% if not resource.meta.site_home -%}
                        href="/"  class="active"
                        {%- else %}
                        class="active home"
                        {%- endif %}
                        >jQuery Tools</a>
                </li>
                <li class="spacer right"></li>
                <li id="login_link" class="linkOnly">
                    <a href="/account">Login</a>
                </li>
                <li id="logout_link" class="linkOnly">
                    <a href="/logout.html">Logout</a>
                </li>
            </ul>
            <form id="top-search" action="/search.html">
                <input type="text" placeholder="Search site" name="q" />
            </form>
        </div>
    </div>

    <div id="wrap">

      <div id="nav" class="clear">
            <ul>
                <li {% if resource.meta.site_home %}class="active"{% endif %}>
                    <a href="/">Home</a>
                </li>
                <li {% if resource.node.module.name == 'demos' %}class="active"{% endif %}>
                    <a href="/demos">Demos</a>
                </li>
                <li {% if resource.node.module.name == 'documentation' %}class="active"{% endif %}>
                    <a href="/documentation">Documentation</a>
                </li>
                <li {% if resource.node.module.name == 'forum' %}class="active"{% endif %}>
                    <a href="/forum">Forums</a>
                </li>
                <li id="download" {% if resource.node.module.name == 'download' %}class="active"{% endif %}>
                    <a href="/download">Download</a>
                </li>
            </ul>
        </div>

      <div id="content">
        {% block main %}{% endblock %}
      </div>
      {% block sidebar %}
      <div id="right">
        {% block right_navigation %}
        {% endblock %}
        <ul class="more_info">
          <li>
            <a href="https://github.com/jquerytools/jquerytools/issues">
              report a bug &raquo;</a>
          </li>
          <li>
            <a href="/tools/release-notes/index.html">
	             <img src="{{ media_url('img/1.2/banner-small.jpg') }}"
	               alt="Introducing jQuery Tools 1.2" />
            </a>
          </li>
          <li>
            <a href="{{ content_url('release-notes/version-1.2.x.html') }}">
            What's new in v1.2.5 &raquo; </a>
          </li>
        </ul>
      </div>
      {% endblock %}

    </div>
    <div id="bottom-wrap">
      <div id="footer">
          <div id="footerlinks">
            <a href="http://twitter.com/jquerytools">Twitter feed</a>
            &nbsp;|
            <a href="https://github.com/jquerytools/jquerytools">
              github repository
            </a> &nbsp;|
            <a href="https://github.com/jquerytools/jquerytools/issues">
              report a bug
            </a>
          </div>
      </div>
    </div>

    {% block extra_script %}{% endblock %}
    <script>
    // toggle category
    $("#right header").click(function() {
        $(this).toggleClass("open");
        $(this).next(".cat").toggleClass("active");
    });
    </script>
    <script>
      {% block js %}
      {% endblock %}
      var _tracker = _gat._getTracker("{{ analytics.id }}");
      {% if analytics %}_tracker._trackPageview();{% endif %}
    </script>

  </body>
</html>
