<!doctype html>
<!--
   Flowplayer JavaScript, website, forums & jQuery Tools by Tero Piirainen
   Prefer web standards over Flash. Video is the only exception (for now).
-->
<html lang="en">
  <head>
    <title>{{ resource.meta.title }}</title>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="keywords" content="{{ resource.meta.keywords }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Distribution" content="Global" />
    <meta name="author" content="{{ resource.meta.author }}">
    <meta name="Robots" content="index,follow" />

    <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
    {% block extra_css %}{% endblock %}

    <script src="{{ jqt.js }}"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>

    <div id="top">
      <div id="top-wrap">
        <a id="top-fp" href-"/index.html">Flowplayer</a>
        <a id="top-jt" href="/tools/index.html" class="active">jQuery Tools</a>
        <form id="top-search" action="/search.html">
          <input type="text" name="q" />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>

    <div id="wrap">

      <div id="globalnav" class="clear">
        <a id="fp1" href="/index.html">Home</a>
        <a id="fp2" href="/download/index.html">Download</a>
        <a id="fp3" href="/demos/index.html">Demos</a>
        <a id="fp4" href="/documentation/index.html">Documentation</a>
        <a id="fp5" href="/forum/index.html">Forums</a>
      </div>

      <div id="content">
        {% block main %}{% endblock %}
      </div>
      <div id="right">
        {% block right_navigation %}
        <p>
          <strong>ERR:</strong> Run the navigation script to generate
          the navigation links.
        </p>
        {% endblock %}

        <script>
          $("#right a[href={{ content_url('tools/documentation/index.html') }}]").addClass("active");
        </script>
        <p style="text-align:center;margin:30px 40px 30px 0">
	  <a style="font-size:10px;color:#666"
	     href="https://github.com/jquerytools/jquerytools/issues">report
            a bug &raquo;</a>
        </p>
        <a href="/tools/release-notes/index.html">
	  <img src="{{ media_url('img/1.2/banner-small.jpg') }}"
	       style="margin-left:10px"
	       alt="Introducing jQuery Tools 1.2" />
        </a>
        <p style="margin:15px 0 0 22px">
	  <a style="font-size:11px;color:#333"
	     href="{{ content_url('release-notes/version-1.2.x.html') }}">
            What's new in v1.2.5 &raquo;
          </a>
        </p>
      </div>

      <div id="footer" class="clear">

        {% block tweets %}
        <h2>jQuery Tools Twitter feed</h2>

        <div id="twitter" class="clear">
          <div id="tweets"></div>
          <a id="follow" href="http://twitter.com/jquerytools"
             title="Follow jQuery Tools on Twitter">
            jQuery Tools Twitter feed
          </a>
        </div>
        {% endblock %}

        <div id="footerlinks" class="clear">
          <a href="https://github.com/jquerytools/jquerytools">
            github repository
          </a>
          <a href="https://github.com/jquerytools/jquerytools/issues">
            report a bug
          </a>
          <a href="/tools-1.1/index.html">version 1.1</a>
          <a href="http://cloudpanic.com">
            my blog: <strong>cloudpanic.com</strong>
          </a>
        </div>

      </div>
    </div>

    {% block extra_script %}{% endblock %}
    <script>
      {% block js %}
      {% endblock %}
      var _tracker = _gat._getTracker("{{ analytics.id }}");
      {% if analytics %}_tracker._trackPageview();{% endif %}
    </script>

  </body>
</html>
