{% extends "root.j2" %}

{% block extra_head %}
{% block script %}{% endblock %}
{% endblock %}

{% block extra_css %}
{% block css %}{% endblock %}
{% endblock %}

{% block main %}
{% block content %}{% endblock %}
{% endblock %}