===
index: 10
title: Add and remove items from scrollable
===
{% extends 'demo.j2' %}
{% refer to 'demos/scrollable/edit.htm' as standalone %}

{% block extra_css %}
{{ standalone.css }}
<link rel="stylesheet" type="text/css" href="{{ media_url('css/scrollable-horizontal.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ media_url('css/scrollable-buttons.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ media_url('css/scrollable-navigator.css') }}" />
{% endblock %}

{% block demo %}
<div class="blurb">

<h1 class="teaser title">{{ resource.meta.title }}</h1>
<p>
  This demo shows you how to add and remove scrollable items. Notice
  how the scrollable navigator grows and the next/prev buttons behave
  correctly.
</p>

{{ demo(standalone) }}

<p>
  You can add items to a circular scrollable as well. This page's
  source code is identical to the <a href="index.html">minimal
  setup</a> except that the add and remove buttons were added.
</p>

</div>

<h2>A new item</h2>

<p>
  The item we are adding is the child element
  of <samp>DIV#newItem</samp>:
</p>

{% filter syntax('html') %}
{{ standalone.html_excerpt }}
{% endfilter %}

<h2>addItem function</h2>

<p>
  Every added item is a <samp>clone</samp> of a single DIV. We
  use <samp>addItem</samp> method from
  the <a href="{{ content_url('scrollable/index.html') }}#api">Scrollable
  API</a> to add new items. It takes one argument which is the new item.
</p>

{% filter syntax('js') %}
{{ standalone.js }}
{% endfilter %}


<p>
  <a href="{{ content_url('credits.html') }}" id="credits">Photo credits &raquo;</a>
</p>
{% endblock %}

