{% extends 'standalone.j2' %}

{% block head %}{% mark css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url('css/scrollable-vertical.css') }}?v=1" />
{% endmark %}{% endblock %}

{% block body %}{% mark body %}
{% with images=["3650/3323058611_d35c894fab", "3635/3323893254_3183671257", 
                "3624/3323893148_8318838fbd", "28/66523124_b468cf4978", 
                "164/399223606_b875ddf797", "163/399223609_db47d35b7c", 
                "135/321464104_c010dbf34c", "40/117346184_9760f3aabc", 
                "153/399232237_6928a527c1", "50/117346182_1fded507fa", 
                "3629/3323896446_3b87a8bf75", "3023/3323897466_e61624f6de"] %}

<!-- HTML structures -->
<div id="actions">
  <a class="prev">&laquo; Back</a>
  <a class="next">More pictures &raquo;</a>
</div>

<!-- root element for scrollable -->
<div class="scrollable vertical">

  <!-- root element for the items -->
  <div class="items">

    <div>
      {% for img in images %}
      {% if loop.index0 > 0 and loop.index0 % 3 == 0 %}</div><div>{% endif %}

      <div class="item">
        <img src="http://farm1.static.flickr.com/{{img}}_m.jpg" />

        <h3>{{ loop.index }}. Barcelona Pavilion</h3>
        <strong>
	  The German Pavilion in Barcelona, designed by Ludwig Mies van
	  der Rohe and built for the International Exposition in 1929.
        </strong>
        <p>
	  The Pavilion was not only a pioneer for construction forms
	  with a fresh, disciplined understanding of space, but also
	  for modeling new opportunities for an exciting association
	  of free art and architecture.
        </p>
        <p>
	  <a href="#">Read more</a> &nbsp; <a href="#">Show in map</a>
        </p>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

<!-- javascript coding -->
<script>
{% mark js %}
$(function() {
    // initialize scrollable with mousewheel support
    $(".scrollable").scrollable({ vertical: true, mousewheel: true });
});
{% endmark %}
</script>

{% endwith %}
{% endmark %}{% endblock %}
