{% extends 'standalone.j2' %}

{% block head %}{% mark css %}
<link rel="stylesheet" type="text/css" href="{{ media_url('css/scrollable-horizontal.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ media_url('css/scrollable-buttons.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ media_url('css/scrollable-navigator.css') }}" />
<style>
.scrollable img {
	width:100px;
	margin:20px 5px 20px 21px;
}

.scrollable img.hover {
	background-color:#123;
}
</style>
{% endmark %}{% endblock %}

{% block body %}{% mark body %}
{% with scrollable_id = "chained" %}

{% mark html_excerpt %}
<!-- wrapper for navigator elements -->
<div class="navi"></div>
{% endmark %}

{% include "demos/scrollable/scrollable.fragment.html" %}

<br clear="all" />

<!-- javascript coding -->
<script>
$(document).ready(function() {
{% mark js %}
// heeeeeeeeeeere we go.
$("#{{ scrollable_id }}").scrollable({circular: true, mousewheel: true}).navigator().autoscroll({
	interval: 3000
});
{% endmark %}
});
</script>
{% endwith %}
{% endmark %}{% endblock %}
