===
index: 5
title: Handling old flash versions
===
{% extends 'demo.j2' %}
{% refer to 'demos/toolbox/flashembed/fail1.htm' as standalone1 %}
{% refer to 'demos/toolbox/flashembed/fail2.htm' as standalone2 %}
{% refer to 'demos/toolbox/flashembed/fail3.htm' as standalone3 %}

{% block extra_css %}
{{ standalone1.css }}
{{ standalone2.css }}
{{ standalone3.css }}
{% endblock %}

{% block demo %}
<h2>
  <samp class="blue">1.</samp> Default behaviour
</h2>

<p>
  You can supply the required Flash version in the second argument for
  flashembed like this:
</p>

{% filter syntax('js') %}
flashembed("clock", {
  src: "/swf/clock.swf",
  version: [20, 0]
});
{% endfilter %}

<p>
  This time, the second argument is not just a string, it's an object
  with two properties: <samp>src</samp> and <samp>version</samp>. The
  latter property specifies the required version that is required. We
  used a very large number so that you can see what happens without
  any additional setup. The default behaviour is to write the
  following HTML snippet to the container if the user does not have
  the required version:
</p>

{% filter syntax('html') %}
  <div id="clock">
    <h2>Flash version 20,0 or greater is required</h2>
    <h3>Your version is 9,31</h3>
    <p>
      Download the latest version from
      <a href="http://www.adobe.com/go/getflashplayer">here</a>
    </p>
  </div>
{% endfilter %}

<p>
  And you can style this content any way you want with CSS. Here is
  how it could possibly look:
</p>

{{ standalone1.body }}

<p>
  Show this demo as a <a href="fail1.htm">standalone page</a>
</p>

<a name="default_content" />
<h2><samp class="blue">2.</samp> Default content in the container</h2>

<p>
  If you are not happy with the default error message, you can supply
  your own error message simply by placing some HTML inside the
  container. Here is one example message:
</p>

{{ standalone2.body }}

<p>
  And here is the corresponding HTML code:
</p>

{% filter syntax('html') %}
{{ standalone2.body }}
{% endfilter %}

<p>
  Show this demo as a <a href="fail2.htm">standalone page</a>
</p>

<h2>
  <samp class="blue">3.</samp> Express Install and the custom onFail
  function
</h2>

<p>
  Here we are using
  Adobe's <a href="http://www.adobe.com/devnet/flashplayer/articles/express_install.html"
  class="external">Express Install</a> when an old Flash version is
  detected. Express Install is an option for seamlessly upgrading
  visitors to your website to the latest player using a Flash-based
  experience. Express Install allows you to design an in-context
  upgrade experience for your content so users never have to leave
  your site. It also lets you gracefully handle user cancellation and
  avoid system restarts.
</p>

<p>
  We also use the <samp>onFail</samp> callback function here where you
  can do your own custom logic with JavaScript when an old version is
  detected. Here we write some information below the Express Install
  SWF file:
</p>

{{ standalone3.body }}

<h3>JavaScript coding</h3>

<p>
  Here is how the above example was configured:
</p>

{% filter syntax('js') %}
{{ standalone3.js }}
{% endfilter %}

<p>
  Show this demo as a <a href="fail3.htm">standalone page</a>
</p>
{% endblock %}
