===
index: 6
title: Localizing the validator
===
{% extends 'demo.j2' %}
{% refer to 'demos/validator/localize.htm' as standalone %}

{% block extra_css %}
{{ standalone.css }}
{% endblock %}

{% block demo %}
<div class="blurb">

<h1 class="teaser title">{{ resource.meta.title }}</h1>

<p>
  Terveisi&auml; &auml;idille! Junassa on hauska matkustaa. Kokoomus
  haisee. Some random finnish. Here is the mandatory localization
  example.
</p>

{{ demo(standalone) }}

</div>

<h3>JavaScript coding</h3>

<p>
  We use <samp>$.tools.validator.localize</samp> method to supply a
  different language for all build-in validators. Look
  for <a href="{{ content_url('validator/') }}#localization">localization
  documentation</a> for the details.
</p>

{% filter syntax('js') %}
{{ standalone.js }}
{% endfilter %}

{% endblock %}