===
index: 3
title: 4 different skins with CSS
===
{% extends 'demo.j2' %}
{% refer to 'demos/tabs/skin1.htm' as skin1 %}
{% refer to 'demos/tabs/skin2.htm' as skin2 %}
{% refer to 'demos/tabs/skin3.htm' as skin3 %}
{% refer to 'demos/tabs/skin4.htm' as skin4 %}

{% block extra_css %}
{{skin1.css}}
{{skin2.css}}
{{skin3.css}}
{{skin4.css}}
<style>
  #nav li {
    list-style-image:none !important;
  }
</style>
{% endblock %}

{% block demo %}

<section class="blurb">

<h1 class="teaser title">{{ resource.meta.title }}</h1>

<p>
  This page demonstrates various ways of skinning tabs. For more
  background information you may want to read
  about <a href="{{content_base}}/documentation/index.html#graphics">graphic
  design and presentation</a> as it applies to jQuery Tools.
</p>

<h2>Mostly CSS based skin</h2>

<p>
  Here we have a tab setup that uses only one background image for the
  selected tab and a semi-transparent gradient for the background of
  the panes. Otherwise the whole thing is just simple CSS dimensions,
  borders, paddings and coloring.
</p>

{{ demo(skin4, full=False) }}

<p>
  The above tabs use a cross-fading effect which can be accomplished
  with the following setup:
</p>

{% filter syntax('js') %}
{{ skin4.crossfade }}
{% endfilter %}

<p>
  The individual panes need to be absolutely positioned so that the
  cross-fading is possible.
</p>

</section>

<h2>Tab skin without images</h2>

<p>
  These tabs are skinned without any images. We are playing solely
  with background colors and borders. The tab title can be anything
  and the width is adjusted accordingly:
</p>


{{ demo(skin1, full=False) }}

<p>
  The setup is similar to the <a href="index.html">minimal
  setup</a>. Take a look at
  the <a href="{{media_url('css/tabs-no-images.css')}}">CSS file</a>.
</p>

<br clear="all" />

<h2>A more styled example</h2>

<p>
  These tabs use the
  same <a href="{{media_url('css/tabs-no-images.css')}}">CSS file</a> as
  the previous tabs with a few extra CSS declarations:
</p>

{{ demo(skin2, full=False) }}

<h3>CSS overrides</h3>

<p>
  Here are the CSS settings that override the external CSS file:
</p>

{% filter syntax('css') %}
{{ skin2.css_content }}
{% endfilter %}

<p>
  The benefit of using skins without images is that they are very
  flexible. You can alter the default tab look and feel with just a
  few extra settings, allowing you to have many different kinds of tab
  styling on your pages.
</p>

<h2>Tab skin with images</h2>

<p>
  Here we are using a single background image for the whole
  setup. This can be achieved with
  the <a href="http://www.alistapart.com/articles/sprites/">CSS sprite
  technique</a>. By using only a single image this setup loads very
  quickly. CSS sprites are a very important technology in modern web
  design.
</p>

{{ demo(skin3, full=False, linkStyle="width:758px") }}

<p>
  Take a look at the documented
  <a href="{{ media_url('css/tabs-flowplayer-v2.css') }}">CSS file</a>
  being used. You may also be interested in
  a <a href="{{content_base}}/demos/scrollable/one-sized.html">scrollable
  version</a> of these tabs.
</p>

{% endblock %}