===
index: 5
title: Making wizards with the tabs
===
{% extends 'demo.j2' %}
{% refer to 'demos/tabs/wizard.htm' as standalone %}

{% block extra_css %}
<style>
  div.panes div h2 {
  margin:5px 0 15px 0;
  }
</style>
{{ standalone.css }}
{% endblock %}

{% block demo %}

<div class="blurb">

<h1 class="teaser title">{{ resource.meta.title }}</h1>
<p>
  The tabs can be easily used to make wizard-like interfaces. The
  following example uses next/prev buttons that use
  the <a href="{{ content_url('tabs/index.html') }}#api">tabs API</a> to navigate
  between the panes. We also have a checkbox that <strong>must be
  checked</strong> if the user wants to advance to the next pane.
</p>

<p>
  You can also see an <a href="{{ content_url('toolbox/expose.html') }}">exposing
  effect</a> when you start using the wizard. This is an effective way
  to shift the user's focus to the task at hand.
</p>

<div class="box">
{{standalone.body}}
</div>
<a class="standalone" href="wizard.htm">standalone demo</a>


</div>


<h3>HTML coding</h3>

<p>
  We have a <samp>div</samp> tag with its <samp>id</samp> equal to
  "wizard" as the root element, but otherwise the setup is similar to
  the <a href="index.html">minimal setup</a>.
</p>


{#
 # Note that we don't import the version in the standalone file here,
 # because we need to precis its details.
 #}

{% filter syntax('html') %}
<!-- root element for the wizard -->
<div id="wizard">

  <!-- tabs -->
  <ul class="tabs">
    <li><a href="#" class="w2">Personal info</a></li>
    <li><a href="#" class="w2">Shopping basket</a></li>
    <li><a href="#" class="w2">Review order</a></li>
  </ul>

  <!-- panes -->
  <div class="panes">
    <div> .. the form   .. </div>
    <div> .. the basket .. </div>
    <div> .. the order  .. </div>
  </div>
</div>
{% endfilter %}

<h2>Exposing effect</h2>

<p>
  This JavaScript coding enables the <samp>mask</samp> effect with the
  custom background color: <samp>#789</samp>. The effect becomes
  active when the root element is clicked. Of course, this effect is
  optional and can be easily removed.
</p>

{% filter syntax('js') %}
{{ standalone.expose }}
{% endfilter %}

<h2>The tabs</h2>

<p>
  Here is the tabs setup. The complexity comes from the checkbox
  behaviour. We require the user to accept our "terms and conditions"
  before it is possible to move forward. The trick is to
  return <samp>false</samp> inside the <samp>onBeforeClick</samp>
  event.
</p>

{% filter syntax('js') %}
{{ standalone.js }}
{% endfilter %}

<h2>Navigational buttons</h2>

<p>
  Here is how the navigational buttons are setup. First we get a
  handle to the API and then we assign custom <samp>click</samp>
  events to the buttons that are contained inside the wizard.
</p>

{% filter syntax('js') %}
{{ standalone.navi }}
{% endfilter %}

{% endblock %}
