.box
    margin 12px 0 12px

div.blurb
    margin 12px 0 24px
    padding 12px 24px
    radius(6px)
    boxshadow(0, 1px, 3px, textgray)
    background-color clear

    .box
        margin 24px -24px
        padding 0 24px

h3
    margin 8px 0


h2
    color gray
    font-weight normal
    border-bottom 1px solid lightgray
    font-size 24px
    line-height 32px
    margin 24px 0 12px

.codebox
    margin-top 8px

.teaser
    font-weight normal
    text-align center
    &.title
        margin-top 12px
        margin-bottom 12px
        color blacker
        font-size 24px
        line-height 32px
    &.text
        color textgray
        font-size 16px
        line-height 18px