icon()
    width 200px
    height 200px
    background transparent url('{{ media_url("img/jqt_sprite_medium.png") }}') no-repeat

uiicon()
    background-position 0 10px

formsicon()
    background-position 0 -200px

toolboxicon()
    background-position 0 -400px
