nav
    margin-top  184px
    header:before
        content ' ►'
    header.open:before
        content ' ▼'

    h1
        font-weight normal
        color textgray
        letter-spacing 2px
        text-transform uppercase
        text-align left
        padding-bottom 6px
        margin-bottom 12px

    h2
        color black
        letter-spacing 1px
        text-align left

    ol.cat
        display none

        &.active
            display block

    li
        margin-left 0
        padding-left 0
        line-height 20px
        list-style-type none
        font-size 12px
        a
            color textgray
            text-decoration none
            margin-left 0px
            display inline-block
            padding 1px 6px 2px

            &:hover
                color darkPetrol
            &.active
                radius(12px)
                background-color darkPetrol
                color clear

    div.sect
        margin-top 12px
        &:first-child
            margin-top 12px

        header
            clearfix()
            cursor pointer
            padding-top 6px
            color petrol
            h2
                color inherit

        h2
            float left
            width 219px
            margin 0
            font-size 14px
            border 0
            letter-spacing 0
            margin-top -4px

        h3
            margin-top 12px
            margin-left 6px
