navyPetrol = #042947
darkPetrol = #084a5e
petrol = #006C83
clear = white
blacker = #222
black = #444
gray = #666
textgray = #999
lightgray = #ccc
almostwhite = #ededed

gutter = 12px

defaultSansSerif()
    font-family 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif
