{% extends 'standalone.j2' %}

{% block head %}{% mark css %}
<link rel="stylesheet" href="{{media_base}}/css/tabs-panes.css"
      type="text/css" media="screen" />
{% endmark %}{% endblock %}

{% block body %}
{% mark body %}
<!-- the tabs -->
<ul class="tabs">
	<li><a href="#">Tab 1</a></li>
	<li><a href="#">Tab 2</a></li>
	<li><a href="#">Tab 3</a></li>
</ul>

<!-- tab "panes" -->
<div class="panes">
	<div>First tab content. Tab contents are called "panes"</div>
	<div>Second tab content</div>
	<div>Third tab content</div>
</div>
{% endmark %}

<script>
{% mark js %}
// perform JavaScript after the document is scriptable.
$(function() {
    // setup ul.tabs to work as tabs for each div directly under div.panes
    $("ul.tabs").tabs("div.panes > div");
});
{% endmark %}
</script>
{% endblock %}

