{% extends 'standalone.j2' %}

{% block head %}{% mark css %}
<link rel="stylesheet" type="text/css" href="{{ media_url('css/tabs.css') }}" />
<style>
  div.wrap {
  width:700px;
  margin-bottom:40px;
  }

  .wrap .pane  {
  background:#fff url({{ media_url('img/gradient/h150.png') }}) repeat-x 0 20px;
  display:none;
  padding:20px;
  border:1px solid #999;
  border-top:0;
  font-size:14px;
  font-size:18px;
  color:#456;

  _background-image:none;
  }

  .wrap .pane p {
  font-size:38px;
  margin:-10px 0 -20px 0;
  text-align:right;
  color:#578;
  }
</style>
{% endmark %}{% endblock %}

{% macro tabset() %}
<!-- the tabs -->
<ul class="tabs">
  <li><a href="#">Tab 1</a></li>
  <li><a href="#">Tab 2</a></li>
  <li><a href="#">Tab 3</a></li>
</ul>

<!-- tab "panes" -->
<div class="pane">First tab content.</div>
<div class="pane">Second tab content</div>
<div class="pane">Third tab content</div>
{% endmacro %}

{% block body %}{% mark body %}
<div class="wrap">
  {{ tabset() }}
</div>

<div class="wrap">

  <!-- the tabs -->
  <ul class="tabs">
    <li><a href="#">Tab 1</a></li>
    <li><a href="#">Tab 2</a></li>
    <li><a href="#">Tab 3</a></li>
  </ul>

  <!-- tab "panes" -->
  <div class="pane">
    <p>#1</p>
    {{ tabset() }}
  </div>

  <div class="pane">
    <p>#2</p>
    {{ tabset() }}
  </div>

  <div class="pane">
    <p>#3</p>
    {{ tabset() }}
  </div>
</div>

<!-- This JavaScript snippet activates those tabs -->
<script>
  // perform JavaScript after the document is scriptable.
  $(function() {
  {% mark js %}
    $("ul.tabs").tabs("> .pane");
  {% endmark %}
  });
</script>
{% endmark %}{% endblock %}


